/*  ---------------------------------
    Layout
    --------------------------------- */

body {
    /*padding-top: 70px;*/
    padding-bottom: 70px;
}

footer {
    height: 33px;
    /* color: #eee; */
    font-size: 11px;
    text-align: center;
    padding-top: 8px;
}

/*  ---------------------------------------
    navbar TODO ADJUST NAVBAR HEIGHT
    ---------------------------------------*/
/*
.navbar-fixed-top {
    min-height: 62px !important;
}

.navbar-form .form-group {
    margin-top: 12px;
}

.navbar-brand {
    margin-top: 10px !important;
}

.navbar-nav {
    margin-top: 10px !important;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 32px !important
}

#logo {
    height: 56px;
    margin-top: -13px;
}
*/

/********** alert setting ********/
/*
.alert {
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
*/
/* Header */
#header {
    height: 60px;
    position: relative;
    width: 100%;
    z-index: -9;
}

#header h1 {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top:8px;
    width: 191px;
}

#header h1 a {
    display: block;
}

/* navbar */
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    line-height: 40px;
    height: 20px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}

