/*  ---------------------------------
    Layout
    --------------------------------- */
body {
    padding-top: 55px;
    padding-bottom: 55px;
}


#content {
    background-image: url("../images/login-bg-bgline.png");
    padding-top: 55px;
    padding-bottom: 55px;
}

.navbar {
    background-image: url("../images/navbar-bg.png");
    height: 60px;
}


.footer {
    height: 30px;

}
#form-section {
    background-image: url("../images/login-input-bg.png");
    background-repeat: no-repeat;
}

#footer {
    height: 33px;
    /* color: #eee; */
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}

.confirmDialog {
    display: none;
}

/*  ---------------------------------------
    navbar TODO ADJUST NAVBAR HEIGHT
    ---------------------------------------*/
/*
.navbar-fixed-top {
    min-height: 62px !important;
}

.navbar-form .form-group {
    margin-top: 12px;
}

.navbar-brand {
    margin-top: 10px !important;
}

.navbar-nav {
    margin-top: 10px !important;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 32px !important
}

#logo {
    height: 56px;
    margin-top: -13px;
}
*/

/********** alert setting ********/
/*
.alert {
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
*/
